version: "3.9"
services:
  helpserver:
    container_name: server
    restart: always
    build: .
    ports:
      - "3000:3000"
    links:
      - helpmongo
    volumes:
      - .:/home/app
      - /home/app/node_modules
  helpmongo:
    container_name: mongo
    image: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=user
      - MONGO_INITDB_ROOT_PASSWORD=password

